

<main class="main-area">
    
    <article style='color: red ;font-size:15px; font-weight: bold';>กรุณากรอกข้อมูลเป็นตัวเลขให้ถูกต้อง</article>
    <article class="test"><h3>ค้นหาราคาที่ต้องการ</h3></article>
    <label id="field">ราคาเริ่มต้น :</label><input  id="block_search" type="text" name="min_price" value=""/>
    <label id="field">ราคาสูงสุด :</label><input id="block_search"   type="text" name="max_price" value=""/>
    <a href="<?=base_url('Main/search_all') ;?> "style="text-align: right; color: darkblue">ค้นหาทั้งหมด</a>
    <input id="buttom_login" type="submit" name="submit" value="Search">

  

</main>