<% provide(:title , 'Sing up') %>
<style>
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 .contain{
       
        margin: auto;
        padding: 20px;
        width: 900px;
        /*height: 1998px;*/
        border:20px;
        border-color:; #ffaa77;
        background-color:cornsilk;
        font-family: "Short Stack";
       
        
    }
    .bg-faded {
  background-color: palegoldenrod;
 
    }
    .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /*background-color: gainsboro;*/ 
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding:20px;
}
/*.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}*/
.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.tablebox{
    padding:20px;
}

</style>


<main class ="main-area">
  
    <h1>Sign up</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user,url: signup_path) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.label :name %>
          <%= f.text_field :name ,:size => "2", class: 'form-control'%>
  
          <%= f.label :email %>
          <%= f.text_field :email,:size => "20", class: 'form-control' %>
  
          <%= f.label :password %>
          <%= f.password_field :password, :size => "2",class: 'form-control' %>
  
          <%= f.label :password_confirmation,"Confirmation" %>
          <%= f.password_field :password_confirmation, :size => "2",class: 'form-control' %>

  
          <%= f.submit "Sign up" %>
  
        <% end %>
      </div>
    </div>
  
</main>
