<footer>
    <a name="footer"></a>
    <div class="footer_text">
        <div style="text-align: center;">
            <%= image_tag( "Admin2.png" ,:style => 'float:left;margin-left: 10px;margin-bottom: 20px;') %>
            <h3>Hi, <a href="#">I'm ADMIN</a></h3>

            <p><b style="font-size: 15px"> จัดสเปกคอมคิดถึงเรา
                    เรามีมือโปรในการเลือกชิ้นส่วนอุปกรณ์ที่สามารถดึงประสิทธิภาพของอุปกรณ์แต่ล่ะชิ้นออกมาได้อย่างลงตัว<br>ในราคาที่คุณต้องว้าว
                    ทุกงานบริการของเรามั่นใจได้ว่าคุณจะใช้งานคอมพิวเตอร์ได้อย่างเต็มความสามารถสมกับที่วางใจใช้บริการของเรา</br>
                </b></p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="footer_copyright">
        &copy; 2018 <a href="#">เสปกคอมพิวเตอร์</a> - CN340 <br>
    </div>
</footer>
